
<div id="app">
  <a-c :msg='msg' ></a-c>
</div>

<script>
    const Fragment = {
	install(Vue) {
		// install the teleporter
    Vue.directive('fragment', {
      inserted(element) {
        const fragment = document.createDocumentFragment();
      	Array.from(element.childNodes).forEach(child => fragment.appendChild(child));
        element.parentNode.insertBefore(fragment, element);
        element.parentNode.removeChild(element);
      }
    })


    Vue.component('vue-fragment', {
      template: `<div v-fragment><slot /></div>`
    })
  }
}

Vue.use(Fragment);

let aCom = {
  template:`
  <vue-fragment>
    <div>{{msg}}</div>
    <div>節點1</div>
    <div>節點2</div>
    <div>節點3</div>
  </vue-fragment> 
  `,props:{msg:{}},
}
new Vue({
  el: '#app',
  components:{'a-c':aCom},
  data: {
    msg:'可以多節點'
  },
})

    
    
</script>  
